*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corps */

body{
    font-family: Arial, Helvetica, sans-serif;
}

h3, h4{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
}

/* Barre de navigation */

.navbar{
    background-color: rgb(24, 71, 97) !important;
    font-size: medium;
}

.moderna{
    font-size: xx-large;
}

.nav-link{
    color: white;
}

.nav-link:hover{
    color: rgb(162, 204, 227);
}


#home{
    color: rgb(162, 204, 227);
}

.none{
    text-decoration: none;
    color: rgb(162, 204, 227);
}

.ligne{
    width: 12%;
    margin-left: 44%;
}

.raond-bar-0{
    background-color: #68A4C4;
    height: 3px;
    position: relative;
    left: 48%;
    bottom: 18px;
    width: 4%;
    text-align: center;
}

.progress .progress-bar{
    animation: animate-positive 2s;
}

/* @-webkit-keyframes animate-positive{
    0%{
        width: 0;
    }
} */

.first{
    animation: SlideUp 2s;
}

@keyframes SlideUp{
    from{
        transform: translateY(200px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}


.ligne-2{
    width: 16%;
    margin-left: 42%;
}

.carousel-indicators button{
    height: 10px !important;
    width: 10px !important;
    margin: 0 10px !important;
    border-radius: 100%;
    background-color: #68A4C4 !important;
}

.title a{
    text-decoration: none;
    color: black;
}

.icon-1 i{
    background: #c7e3f5;
    width: 100%;
    height: 70%;
    padding: 20px;
    border-radius: 5px;
}

.icon-1 i:hover{
    background-color: #0d6efd;
}

/* Footer */

footer{
    background-color: rgb(13, 39, 53);
    animation: SlideUp 5s;
}

.sub{
    background-color: rgb(162, 204, 227);
}

.border-bottom{
    border-color: rgb(162, 204, 227) !important;
}

ul{
    list-style-type: none;
}

.title{
    color: rgb(162, 204, 227);
}

.i2{
    font-size: small;
    color: rgb(162, 204, 227);
}

.i3{
    font-size: 2rem;
    display: inline-block;
    background: #1e4356;
    color: #fff;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 50px;
    transition: 0.5s;
}

.i3:hover{
    color: rgb(162, 204, 227);
    cursor: pointer;
}

.down{
    background-color: rgb(11, 33, 45);
}


@media screen and (max-width: 768px){
    .text-end{
        display: flex;
        margin-right: 60%;
    }

    .ligne-2{
        width: 35%;
        margin-left: 33%;
    }

    .ligne{
        width: 20%;
        position: relative;
        right: 22px;
    }

    .raond-bar-0{
        position: relative;
        left: 45%;
        width: 10%;
        text-align: center;
    }
}

@media (max-width: 991px){
    .text-end{
        display: flex;
    }
}