*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corps */

body{
    font-family: Arial, Helvetica, sans-serif;
}

h1, h3, h4, h5{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
}

/* Barre de navigation */

.navbar{
    background-color: rgb(24, 71, 97) !important;
    font-size: medium;
}

.moderna{
    font-size: xX-large;
}

.nav-link{
    color: white;
}

#home{
    color: rgb(162, 204, 227);
}

.nav-link:hover{
    color: rgb(162, 204, 227);
    transform: 1s;
}

/* Carousel vertical */

.main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("img/1.jpg");
    background-size: cover;
    object-fit: cover;
    clip-path: circle(245vh at 50% -145vh);
}

.btn-outline-info:hover{
    background-color: rgb(24, 71, 97 rgb(140, 181, 194));
    transition: 1s;
}

.ombre{
    background-image: gradient-gradient(rgb(21, 79, 110), rgb(21, 79, 110));
    filter: drop-shadow(30px 20px 0 rgb(197, 230, 240));
}

/* Cards */
.border1{
    background-color: rgba(253, 215, 222, 0.336);
    margin: 0 auto;
    padding-top: 15px;
    text-align: center;
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

.border2{
    background-color: rgba(187, 247, 244, 0.781);
    margin: 0 auto;
    padding-top: 15px;
    text-align: center;
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

.border3{
    background-color: rgba(197, 243, 197, 0.717);
    margin: 0 auto;
    padding-top: 15px;
    text-align: center;
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

.border4{
    background-color: rgba(190, 190, 241, 0.569);
    margin: 0 auto;
    padding-top: 15px;
    text-align: center;
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

#cards{
    height: 350px !important;
}

.card1{
    animation: SlideUp 2s;
}

.card2{
    animation: SlideUp 2.2s;
}

.card3{
    animation: SlideUp 2.3s;
}

.card4{
    animation: SlideUp 2.4s;
}

i{
    font-size: 2rem;
}

.pink{
    color: rgb(255, 192, 203);
}

.sky{
    color: rgb(63, 205, 199);
}

.green{
    color: rgba(0, 128, 0, 0.717);
}

.blue{
    color: rgba(0, 0, 255, 0.569);
}

.card1:hover{
    border: 1px solid rgb(255, 192, 203);
    transition: 0.5s;
}

.card2:hover{
    border: 1px solid rgb(63, 205, 199);
    transition: 0.5s;
}

.card3:hover{
    border: 1px solid rgba(0, 128, 0, 0.717);
    transition: 0.5s;
}

.card4:hover{
    border: 1px solid rgba(0, 0, 255, 0.569);
    transition: 0.5s;
}

/* Lorem */
.play{
    height: 70px;
    width: 70px;
    background-color: rgb(162, 204, 227);
    border: none;
    border-radius: 50%;
}

.play:hover{
    background-color: rgb(162, 204, 227);
    transition: 0.5s;
}

.bg-light{
    background-color: white !important;
    animation: SlideUp 5s;
}

a{
    text-decoration: none;
}

.lorem:hover{
    color: rgb(162, 204, 227) !important;
    transition: 0.5s;
}

.icon{
    color: rgb(162, 204, 227)
}

.icon:hover{
    color: white;
    transition: 0.5s;
}

/* Features */

.first{
    animation: SlideUp 5s;
}

.second{
    animation: SlideUp 6S;
}

.third{
    animation: SlideUp 7S;
}

.fourth{
    animation: SlideUp 8S;
}

.check{
    font-size: small;
    color: rgb(162, 204, 227);
}

.back{
   /* display: inline-block;*/
    background-color: rgba(232, 242, 248, 0.795);
    color: #fff;
    padding: 5px 0;
    text-align: center;
    width: 70px;
    height: 70px;
    transition: 0.5s;
}

.back:hover{
    background-color: rgb(162, 204, 227) !important;
    transition: 0.5s;
}


/* Animation */

@keyframes SlideUp{
    from{
        transform: translateY(200px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

/* Footer */

footer{
    background-color: rgb(13, 39, 53);
    animation: SlideUp 5s;
}

.sub{
    background-color: rgb(162, 204, 227);
}

.border-bottom{
    border-color: rgb(162, 204, 227) !important;
}

ul{
    list-style-type: none;
}

.title{
    color: rgb(162, 204, 227);
}

.i2{
    font-size: small;
    color: rgb(162, 204, 227);
}

.i3{
    display: inline-block;
    background: #1e4356;
    color: #fff;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 50px;
    transition: 0.5s;
}

.i3:hover{
    color: rgb(162, 204, 227);
    cursor: pointer;
}

.down{
    background-color: rgb(11, 33, 45);
}